#ad{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
#ad img{
    padding:10px;
    margin-top: 30px;
    
}
#career{
    //float: left;
    margin-left: 10px; 
    background-color: white;
    font-family: timenewroman;
    //width: 32%;
    padding: 5px;
    margin-top: -347px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -1px;
}
#career img{
    margin-left: 5px;
    
}
#career h3{
    //float: left;
    margin-top: 20px;
    margin-left: -5px;
    color: #65ac04;
    font-size: 22px;
    width: 490px;
}
#career p{
    padding: 5px;
    text-align: justify;
    font-size: 18px;
    
}  
#creative{
    //float: left;
    margin-left: 1px; 
    background-color: white;
    font-family: timenewroman;
    //width: 32%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#creative img{
    margin-left: 5px;
    margin-top: -20px;
    
    
}
#creative h3{
    //float: left;
    margin-top: 20px;
    margin-left: 15px;
    color: #65ac04;
    font-size: 22px;
    
}
#creative p{
    padding: 5px;
    text-align: justify;
    font-size:16px;
    margin-top: -10px;
    
    
}  
@media only screen and  (min-width: 480px){
    
    #wrapper{
    width:400px;

    }
    
    
    #ad{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
#ad img{
    padding:10px;
    margin-top: 10px;
    width: 350px;
    height: 170px;
    
}
#career{
    //float: left;
    margin-left: 10px; 
    background-color: white;
    font-family: timenewroman;
    //width: 32%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -1px;
}
#career img{
    margin-left: 5px;
    width: 360px;
    height: 200px;
    
}
#career h3{
    //float: left;
    margin-top: 10px;
    margin-left: -5px;
    color: #65ac04;
    font-size: 22px;
    width: 490px;
}
#career p{
    padding: 5px;
    text-align: justify;
    font-size: 16px;
    
}  
#creative{
    //float: left;
    margin-left: 1px; 
    background-color: white;
    font-family: timenewroman;
    //width: 32%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#creative img{
    margin-left: 5px;
    margin-top: -20px;
    width: 360px;
    height: 200px;
    
    
}
#creative h3{
    //float: left;
    margin-top: 20px;
    margin-left: -175px;
    color: #65ac04;
    font-size: 22px;
    
}
#creative p{
    padding: 5px;
    text-align: justify;
    font-size:16px;
    
    
} 
   
}

@media only screen and (min-width: 768px){
        
    #wrapper{
    width:700px;

    
}
    
    #ad{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
        //margin-top: -20px;
}
#ad img{
    padding:10px;
    margin-top: 30px;
    width: 170px;
    height: 320px;
    
}
#career{
    //float: left;
    margin-left: 10px; 
    background-color: white;
    font-family: timenewroman;
    //width: 32%;
    padding: 5px;
    margin-top: -370px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -1px;
}
#career img{
    margin-left: 5px;
    width:500px;
    height: 260px;
    
}
#career h3{
    float: left;
    margin-top: 20px;
    margin-left: -5px;
    color: #65ac04;
    font-size: 23px;
    width: 490px;
}
#career p{
    padding: 5px;
    text-align: justify;
    font-size: 17px;
    
}  
#creative{
    //float: left;
    margin-left: 1px; 
    background-color: white;
    font-family: timenewroman;
    //width: 32%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#creative img{
    margin-left: 5px;
    margin-top: 10px;
    width:600px;
    height: 280px;
    
}
#creative h3{
   // float: left;
    margin-top: 20px;
    margin-left: -130px;
    color: #65ac04;
    font-size: 23px;
    
}
    #creative h4{
        font-size: 18px;
    }
#creative p{
    padding: 5px;
    text-align: justify;
    font-size:17px;
    margin-top: -10px;
    
    
}
     
}



@media only screen and (min-width: 1250px){
    
    #ad img{
        width: 270px;
        height: 770px
        
    }
#career{
    //float: left;
    margin-left: 10px; 
    background-color: white;
    font-family: timenewroman;
    width: 900px;
    padding: 5px;
   margin-top: -800px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -1px;
}
#career img{
    margin-left: -455px;
    width:800px;
    height: 360px;
    margin-top: 100px
    
}
#career h3{
    //float: left;
    margin-top: 20px;
    margin-left: 5px;
    color: #65ac04;
    font-size: 26px;
    //width: 490px;
}
#career p{
    padding: 5px;
    text-align: justify;
    font-size: 20px;
    
}  
#creative{
    //float: left;
    margin-left: 1px; 
    background-color: white;
    font-family: timenewroman;
    //width: 32%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
   //justify-content: center;
    flex-wrap: wrap;
}
#creative img{
    margin-left: 15px;
    margin-top: 90px;
    width:850px;
    height: 360px;
    
}
#creative h3{
   // float: left;
    margin-top: 20px;
    margin-left: -10px;
    color: #65ac04;
    font-size: 26px;
    
}
    #creative h4{
        font-size: 20px;
        margin-left: -140px;
    }
#creative p{
    padding: 5px;
    text-align: justify;
    font-size:20px;
    margin-top: -10px;
    
    
}   
    
}

