#dance{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#dance img{
    //float: right;
    padding:10px;
    //margin-top: -130px;
}
#dance h3{
    padding: 10px;
    font-family: timenewroman;
    color: #65ac04;
    margin-left: -5px;
    margin-top: 10px;
    font-size: 28px;
    
}
#dance p{
    padding: 10px;
    text-align: justify;
    font-family: timenewroman;
    margin-top: -30px;
    font-size: 20px;
    
    
}

#music{
    //float: left;
    margin-left: 3px; 
    background-color: white;
    font-family: timenewroman;
   //width: 23%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#music img{
    //margin-left: 75px;
    
}
#music h4{
    //float: left;
    margin-top: 20px;
    //margin-left: -5px;
    color: #65ac04;
    font-size: 22px;
    //text-align: center;
}
#music p{
    padding: 5px;
    text-align: justify;
    font-size: 18px;
    
}
#ent1{
   //float: left;
    margin-left: 3px; 
    background-color: white;
    font-family: timenewroman;
   // width: 22%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#ent1 img{
   //margin-left: 90px;
    
}
#ent1 h4{
    //float: left;
    margin-top: 10px;
    //margin-left:-10px;
    padding: 5px;
    color: #65ac04;
    font-size: 22px;
}
#ent1 p{
    padding: 5px;
    text-align: justify;
    font-size: 18px;
    
}
#ent2{
    //float: left;
    margin-left: 3px; 
    background-color: white;
    font-family: timenewroman;
   // width: 22%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#ent2 img{
    //margin-left: -5px;
    margin-top: -5px;
    //text-align: center;
    //margin-left: 90px;
    
    
}
#ent2 h4{
    //float: left;
    margin-top: -10px;
    margin-left:-10px;
    padding: 10px;
    color: #65ac04;
    font-size: 22px;
}
#ent2 p{
    padding: 5px;
    text-align: justify;
    /margin-top: -10px;
    font-size: 18px;
    
}
#ent3{
    //float: left;
    margin-left: 5px; 
    background-color: white;
    font-family: timenewroman;
    //width: 22%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#ent3 img{
    //margin-left: 90px;
    margin-top: -5px;
    text-align: center;
    
}
#ent3 h4{
    float: left;
    margin-top: -10px;
    margin-left:-10px;
    padding: 10px;
    color: #65ac04;
    font-size: 22px;
}
#ent3 p{
    padding: 5px;
    text-align: justify;
    /margin-top: -10px;
    font-size: 18px;
    
}
#ad{
    //margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
#ad img{
     margin-bottom: 30px;
}
@media only screen and  (min-width: 480px){
    
    #wrapper{
    width:400px;

    }
    
    body{
        background-color: red;
    }
    #dance{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#dance img{
    //float: right;
    padding:10px;
    //margin-top: -130px;
    width: 400px;
    height: 230px;
}
#dance h3{
    padding: 10px;
    font-family: timenewroman;
    color: #65ac04;
    margin-left: -5px;
    margin-top: 10px;
    font-size: 24px;
    
}
#dance p{
    padding: 10px;
    text-align: justify;
    font-family: timenewroman;
    margin-top: -30px;
    font-size: 16px;
    
    
}

#music{
    //float: left;
    margin-left: 3px; 
    background-color: white;
    font-family: timenewroman;
   //width: 23%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#music img{
    //margin-left: 75px;
    width: 350px;
    height: 190px;
    
}
#music h4{
    //float: left;
    margin-top: 20px;
    //margin-left: -5px;
    color: #65ac04;
    font-size: 18px;
    //text-align: center;
}
#music p{
    padding: 5px;
    text-align: justify;
    font-size: 14px;
    
}
#ent1{
   //float: left;
    margin-left: 3px; 
    background-color: white;
    font-family: timenewroman;
   // width: 22%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#ent1 img{
   //margin-left: 90px;
     width: 350px;
    height: 190px;
}
#ent1 h4{
    //float: left;
    margin-top: 10px;
    //margin-left:-10px;
    padding: 5px;
    color: #65ac04;
    font-size: 18px;
}
#ent1 p{
    padding: 5px;
    text-align: justify;
    font-size: 14px;
    
}
#ent2{
    //float: left;
    margin-left: 3px; 
    background-color: white;
    font-family: timenewroman;
   // width: 22%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#ent2 img{
    //margin-left: -5px;
    margin-top: -5px;
    //text-align: center;
    //margin-left: 90px;
     width: 350px;
    height: 190px;
    
    
}
#ent2 h4{
    //float: left;
    margin-top: -10px;
    margin-left:-10px;
    padding: 10px;
    color: #65ac04;
    font-size: 18px;
}
#ent2 p{
    padding: 5px;
    text-align: justify;
    /margin-top: -10px;
    font-size: 14px;
    
}
#ent3{
    //float: left;
    margin-left: 5px; 
    background-color: white;
    font-family: timenewroman;
    //width: 22%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#ent3 img{
    //margin-left: 90px;
    margin-top: -5px;
    text-align: center;
     width: 350px;
    height: 190px;
    
}
#ent3 h4{
    float: left;
    margin-top: -10px;
    margin-left:-10px;
    padding: 10px;
    color: #65ac04;
    font-size: 18px;
}
#ent3 p{
    padding: 5px;
    text-align: justify;
    /margin-top: -10px;
    font-size: 14px;
    
}
#ad{
    //margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
#ad img{
     margin-bottom: 30px;
     width: 350px;
    height: 170px;
}
   
}

@media only screen and (min-width: 768px){
        
    #wrapper{
    width:700px;

    
}
    body{
        background-color: green;
    }
#dance{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#dance img{
    //float: right;
    padding:10px;
    //margin-top: -130px;
    width: 670px;
    height: 260px;
}
#dance h3{
    padding: 10px;
    font-family: timenewroman;
    color: #65ac04;
    margin-left: -90px;
    margin-top: 10px;
    font-size: 24px;
    
}
#dance p{
    padding: 10px;
    text-align: justify;
    font-family: timenewroman;
    margin-top: -30px;
    font-size: 16px;
    margin-left: 5px;
    
    
}

#music{
    //float: left;
    margin-left: 3px; 
    background-color: white;
    font-family: timenewroman;
   //width: 23%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#music img{
    //margin-left: 75px;
    width: 550px;
    height: 250px;
    
}
#music h4{
    //float: left;
    margin-top: 20px;
    margin-left: -175px;
    color: #65ac04;
    font-size: 20px;
    //text-align: center;
}
#music p{
    padding: 5px;
    text-align: justify;
    font-size: 16px;
    
}
#ent1{
   //float: left;
    margin-left: 3px; 
    background-color: white;
    font-family: timenewroman;
   // width: 22%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#ent1 img{
   //margin-left: 90px;
    width: 550px;
    height: 250px;
}
#ent1 h4{
    //float: left;
    margin-top: 10px;
    margin-left:-225px;
    padding: 5px;
    color: #65ac04;
    font-size: 20px;
}
#ent1 p{
    padding: 5px;
    text-align: justify;
    font-size: 16px;
    
}
#ent2{
    //float: left;
    margin-left: 3px; 
    background-color: white;
    font-family: timenewroman;
   // width: 22%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#ent2 img{
    //margin-left: -5px;
    margin-top: -5px;
    //text-align: center;
    //margin-left: 90px;
    width: 550px;
    height: 250px;
    
    
}
#ent2 h4{
    //float: left;
    margin-top: -10px;
    margin-left:-175px;
    padding: 10px;
    color: #65ac04;
    font-size: 20px;
}
#ent2 p{
    padding: 5px;
    text-align: justify;
    /margin-top: -10px;
    font-size: 16px;
    
}
#ent3{
    //float: left;
    margin-left: 5px; 
    background-color: white;
    font-family: timenewroman;
    //width: 22%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#ent3 img{
    //margin-left: 90px;
    margin-top: -5px;
    text-align: center;
     width: 550px;
    height: 250px;
    
}
#ent3 h4{
    //float: left;
    margin-top: -10px;
    margin-left:-50px;
    padding: 10px;
    color: #65ac04;
    font-size: 20px;
}
#ent3 p{
    padding: 5px;
    text-align: justify;
    /margin-top: -10px;
    font-size: 16px;
    
}
#ad{
    //margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
#ad img{
     margin-bottom: 30px;
     width: 670px;
    height: 250px;
}
}



@media only screen and (min-width: 1200px){
    body{
        background-color: blueviolet;
    }
#dance{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#dance img{
    //float: right;
    padding:10px;
    //margin-top: -130px;
    width: 690px;
    height: 260px;
}
#dance h3{
    padding: 10px;
    font-family: timenewroman;
    color: #65ac04;
    margin-left: -60px;
    margin-top: -10px;
    font-size: 26px;
    
}
#dance p{
    padding: 10px;
    text-align: justify;
    font-family: timenewroman;
    margin-top: -30px;
    font-size: 18px;
    margin-left: -5px;
    
    
}

#music{
    //float: left;
    margin-left: 3px; 
    background-color: white;
    font-family: timenewroman;
   //width: 23%;
    padding: 10px;
    margin-top: -10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#music img{
    //margin-left: 75px;
    width: 650px;
    height: 280px;
    
}
#music h4{
    //float: left;
    margin-top: 20px;
    margin-left: -115px;
    color: #65ac04;
    font-size: 22px;
    //text-align: center;
}
#music p{
    padding: 5px;
    text-align: justify;
    font-size: 18px;
    
}
#ent1{
   //float: left;
    margin-left: 3px; 
    background-color: white;
    font-family: timenewroman;
   // width: 22%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#ent1 img{
   //margin-left: 90px;
    width: 650px;
    height: 280px;
}
#ent1 h4{
    //float: left;
    margin-top: 10px;
    margin-left:-175px;
    padding: 5px;
    color: #65ac04;
    font-size: 22px;
}
#ent1 p{
    padding: 5px;
    text-align: justify;
    font-size: 18px;
    
}
#ent2{
    //float: left;
    margin-left: 3px; 
    background-color: white;
    font-family: timenewroman;
   // width: 22%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#ent2 img{
    //margin-left: -5px;
    margin-top: -5px;
    //text-align: center;
    //margin-left: 90px;
   width: 650px;
    height: 280px;
    
    
}
#ent2 h4{
    //float: left;
    margin-top: -10px;
    margin-left:-115px;
    padding: 10px;
    color: #65ac04;
    font-size: 22px;
}
#ent2 p{
    padding: 5px;
    text-align: justify;
    /margin-top: -10px;
    font-size: 18px;
    
}
#ent3{
    //float: left;
    margin-left: 5px; 
    background-color: white;
    font-family: timenewroman;
    //width: 22%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#ent3 img{
    //margin-left: 90px;
    margin-top: -5px;
    text-align: center;
     width: 650px;
    height: 280px;
    
}
#ent3 h4{
    //float: left;
    margin-top: -10px;
    margin-left:-10px;
    padding: 10px;
    color: #65ac04;
    font-size: 22px;
}
#ent3 p{
    padding: 5px;
    text-align: justify;
    /margin-top: -10px;
    font-size: 18px;
    
}
#ad{
    //margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
#ad img{
     margin-bottom: 10px;
     width: 690px;
    height: 240px;
}
}
