.login{
    
    background-color: #F6F3F0;
    display: flex;
    justify-content: center;
      margin-top: 150px;
    
}
h3{ 
    color: #65ac04;
   margin-left: 520px;
    margin-top: -150px;
    font-size: 2em;
   text-align: center;
   
}

.login label{
    color: black;
    margin-left: -260px;
   justify-content: center;
    
}
#uname{
    margin-left: 15px;
    line-height: 20px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid black;
}
#email{
    margin-left: 40px;
    line-height: 35px;
    width: 265px;
    border-radius: 5px;
    margin-top: 10px;
     border: 1px solid black;
}
 #password{
    margin-left: 25px;
    line-height: 35px;
    width: 265px;
    border-radius: 5px;
     margin-top: 10px;
     border: 1px solid black;
}
#button{
    margin-left: -100px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #65ac04;
    border: none;
    color: white;
    font-size: 20px;
    
    
}
h5{
    color: black;
    margin-left: -75px;
    margin-top: 20px;
}

#advertise2{
    display: flex;
    margin-left: 150px;
    margin-top: 20px;
   background-color: #F6F3F0;
    flex-wrap: wrap;
    justify-content: center;
}
#advertise2 img{
    padding: 30px;
      
}
@media only screen and  (min-width: 480px){
    
    #wrapper{
    width:400px;

    }
    
    body{
        background-color: red;
    }
    
    h3{
        margin-top: -80px;
        margin-left: 60px;
        font-size: 26px;
    }
    .login label{
    color: black;
    margin-left: -100px;
  // justify-content: center;
        font-size: 16px;
    
}
#uname{
    //margin-left: 5px;
    line-height: 30px;
  
    width: 180px;
    border-radius: 5px;
    margin-top: -10px;
    
}
#email{
    margin-left:40px;
    line-height: 30px;
    width: 180px;
    border-radius: 5px;
    margin-top: 10px;
     border: 1px solid black;
}
 #password{
    margin-left: 25px;
    line-height: 30px;
    width: 180px;
    
}
#button{
   margin-left: -40px;
    height: 30px;
    width: 100px;
    
    
    font-size: 16px;
    
    
}
h5{
    
    margin-left: -40px;
    
}

#advertise2{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
   
}
#advertise2 img{
    padding: 30px;
    width:300px;
    height: 100px;
      
}
    
   
}

@media only screen and (min-width: 768px){
        
    #wrapper{
    width:700px;

    
}
    body{
        background-color: green;
    }
     
    .login{
    
    background-color: #F6F3F0;
    display: flex;
    justify-content: center;
      margin-top: 350px;
    
}
h3{ 
    color: #65ac04;
   margin-left: 270px;
    margin-top: -110px;
    font-size: 2em;
     justify-content: center;
   
}
    .login{
        margin-top: 260px;
    }
.login label{
    color: black;
    margin-left: -260px;
   justify-content: center;
    
    
}
#uname{
   
    margin-left: 15px;
    line-height: 35px;
    width: 265px;
    border-radius: 5px;
    border: 1px solid black;
}
#email{
    margin-left: 40px;
    line-height: 35px;
    width: 265px;
    border-radius: 5px;
    margin-top: 10px;
     border: 1px solid black;
}
 #password{
    margin-left: 25px;
    line-height: 35px;
    width: 265px;
    border-radius: 5px;
     margin-top: 10px;
     border: 1px solid black;
}
#button{
    margin-left: -100px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #65ac04;
    border: none;
    color: white;
    font-size: 20px;
    
    
}



#advertise2 img{
    padding: 30px;
      width:500px;
    height: 150px;
}
}



@media only screen and (min-width: 1200px){
    body{
        background-color: blueviolet;
    }
    h3{ 
    color: #65ac04;
   margin-left: 80px;
    margin-top: -150px;
    font-size: 2.5em;
     justify-content: center;
   
}
    .login{
        margin-top: 260px;
    }
.login label{
    color: black;
    margin-left: -260px;
   justify-content: center;
    font-size:24px;
    
}
#uname{
   
    margin-left: 15px;
    line-height: 35px;
    width: 265px;
    border-radius: 5px;
    border: 1px solid black;
    
}
#email{
    margin-left: 50px;
    line-height: 35px;
    width: 265px;
    border-radius: 5px;
    margin-top: 10px;
     border: 1px solid black;
}
 #password{
    margin-left: 30px;
    line-height: 35px;
    width: 265px;
    border-radius: 5px;
     margin-top: 10px;
     border: 1px solid black;
}
#button{
    margin-left: -100px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #65ac04;
    border: none;
    color: white;
    font-size: 22px;
    
    
}

h5{
    
    margin-left: -80px;
    
}

#advertise2 img{
    padding: 30px;
      width:600px;
    height: 180px;
}
}
