#ad{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#ad img{
    float: right;
    margin-top: -20px;
    padding: 10px;
}
#headline1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#headline1 h1{
    font-family:Times New Roman;
    margin-top: 50px;
    padding: 10px;
    color: #65ac04;
    
}
#headline1 p{
    font-family:Times New Roman;
    
    text-align: justify;
    //padding: 5px;
    margin-top: -1px;
    font-size: 16px;
}
#headline1 img{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#headline2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#headline2 img{
    padding: 10px;
    margin-top: 10px;
    margin-left: -10px;
}
#headline2 h4{
    
   //float: left;
    margin-top:70px;
    //width: 30px;
    color: #65ac04;
    margin-left: 5px;
}
#headline3{
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;
}

#headline3 img{
    padding: 10px;
    //float:left;
    margin-top: 10px;
    margin-left: 5px;

}

#headline3 h4{
    
    //float: left;
    margin-top: -130px;
   // width: 35%;
    color: #65ac04;
    margin-left: 230px;
}
#headline4 {
    //padding: 10px;
    //float:left;
   //margin-top: 150px;
   // margin-left: -95px;
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;
    
    
}
#headline4 img{
    padding: 10px;
   // float:left;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 90px;
    
}

#headline4 h4{
    
    //float: left;
    margin-top: 70px;
   // width: 35%;
    color: #65ac04;
    margin-left: 5px;
}
#headline5{
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;
}
#headline5 img{
    padding: 10px;
    //float:left;
    margin-top: -80px;
    margin-left: 5px;
  
}

#headline5 h4{
    
    //float: left;
    margin-top: -105px;
    //width: 35%;
    color: #65ac04;
    margin-left:230px;
}
@media only screen and  (min-width: 480px){
    
    #wrapper{
    width:400px;

    }
    
    body{
        background-color: red;
    }
    #headline1{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #headline1 h1{
        font-size: 18px;
        margin-top: 5px;
    }
    #headline1 img{
        
        width: 400px;
        height: 200px;
    }
   
    #headline1 p{
        font-size: 12px;
    }
     #headline2{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #headline2 img{
        width: 350px;
        height: 200px;
        
    }
    #headline2 h4{
        font-size: 14px;
        margin-top: 10px;
    }
     #headline3{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
     #headline3 img{
        width: 350px;
        height: 200px;
    }
    #headline3 h4{
        font-size: 14px;
        margin-top: 10px;
        margin-left: 10px;
    }
     #headline4{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
     #headline4 img{
        width: 350px;
        height: 200px;
         margin-top: -10px;
    }
    #headline4 h4{
        font-size: 14px;
        margin-top:-80px;
        margin-left: 10px;
    }
     #headline5{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
     #headline5 img{
        width: 350px;
        height: 200px;
         margin-top: -25px;
    }
    #headline5 h4{
        font-size: 14px;
        margin-top: 10px;
        margin-left: 10px;
    }
    #ad{
         
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
    }
    #ad img{
        width: 500px;
        height: 200px;
    }
}

@media only screen and (min-width: 768px){
        
    #wrapper{
    width:700px;

    
}
    body{
        background-color: green;
    }
    #headline1{
         
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        }
    #headline1 h1{
        
            font-size:30px;
        
    }
    #headline1 img{
        width: 700px;
        height: 300px;
        margin-top: -20px;
    }
    #headline1 p{
        font-size: 16px;
    }
     #headline2{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #headline2 img{
        width: 250px;
        height: 150px;
        //float: left;
        margin-left: -370px;
        padding: 5px;
    }
    #headline2 h4{
        width: 300px;
        margin-top: 180px;
        margin-left: -255px;
    
    }
    #headline3{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #headline3 img{
        width: 250px;
        height: 150px;
        //float: left;
        margin-left: 300px;
        margin-top:-215px;
        padding: 5px;
    }
    #headline3 h4{
        width: 300px;
        margin-top: -50px;
       margin-left: 350px;
    }
    
     #headline4{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #headline4 img{
        width: 250px;
        height: 150px;
        //float: left;
        margin-left: -370px;
        padding: 5px;
    }
    #headline4 h4{
        width: 300px;
        margin-top: 160px;
        margin-left: -250px;
    
    }
    #headline5{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #headline5 img{
        width: 250px;
        height: 150px;
        //float: left;
        margin-left: 300px;
        margin-top:-250px;
        padding: 5px;
    }
    #headline5 h4{
        width: 300px;
        margin-top: -80px;
       margin-left: 350px;
    }
    #ad{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #ad img{
        width: 400px;  
        margin-top: -70px;
    }
}
@media only screen and (min-width: 1200px){
    body{
        background-color: blueviolet;
    }
    #headline2 img{
        width: 300px;
        height: 200px;
        margin-left: -380px;
    }
    #headline2 h4{
        margin-top: 230px;
        margin-left: -300px;
        font-size: 16px;
    }
    #headline3 img{
        width: 300px;
        height: 200px;
        margin-top: -275px;
    }
    #headline3 h4{
        margin-left: 310px;
        font-size: 16px;
        margin-top: -60px
    }
    #headline4 img{
        width: 300px;
        height: 200px;
        margin-left: -370px;
    }
    #headline4 h4{
        font-size: 16px;
        margin-top: 210px;
        margin-left:-300px;
    }
    #headline5 img{
        width: 300px;
        height: 200px;
        margin-left: 300px;
        margin-top: -300px;
    }
    #headline5 h4{
        font-size: 16px;
        margin-left: 300px;
    } 
    
}
